# rename this file to docksal-local.env to override default settings.
# this example changes the default db/file env from dev to r-v170 multidev
DOCKSAL_STACK=default
DOCROOT=web
PANTHEON_SITE_ENV='dev'
HOSTING_PLATFORM="pantheon"
HOSTING_SITE="invisible-hands"
HOSTING_ENV="dev"
